
<%= form_tag("/dizzy/create")do %>
<h2>曲の追加</h2>
<p>曲名<p>
  <input type="text" name="music" size="30">
  <p>歌詞</p>
  <textarea name = "kasi" rows="30" cols="100"></textarea>
  <input type="submit" value="追加">
<% end %>
