<h1>10-FEET</h1>
<div class="left">
  <%= image_tag ('10-FEET_image.jpg'), :size =>'310x310' %>
  <div class="border">
    <p>曲一覧</p>
    <% @musics.each do |music| %>
      <li><%= link_to(music.title,"/10-FEET/#{music.id}") %></li>
    <% end %>
    <br>
    <a href="10-FEET/add">追加</a>
  </div>
  <a href="https://10-feet.kyoto/">Official Site</a>
</div>
<div class="twitter">
<a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/naoki10feet?ref_src=twsrc%5Etfw">Naokiさん by naoki10feet</a>
<script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/takuma10feet?ref_src=twsrc%5Etfw">TAKUMAさん by takuma10feet</a>
  <script async="async" src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <a class="twitter-timeline" data-width="400" data-height="600" href="https://twitter.com/MI_KYOTO?ref_src=twsrc%5Etfw">Tweets by MI_KYOTO</a> 
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
