 <h2> 京都大作戦まで後<%= @sa %>日</h2>
<p>～Like～</p>
<ul>
  <li>NUBO</li>
  <li>10-FEET</li>
  <li>SUPER BEVAER</li>
  <li>G-FREAK FACTORY</li>
</ul>
<div>
  <p>～勉強中～</p>
  <dd>the skippers</dd>
  <dd>BUZZ THE BEARS</dd>
  <dd>Dizzy sunfist</dd>
  <dd>shank</dd>
  <dd>きのこ帝国</dd>
  <dd>MOROHA</dd>
  <dd>MONOETES</dd>
  <dd>dustbox</dd>
  <dd>HEY-SMITH</dd>
</div>
