/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require fullcalendar
 *= require_tree .
 *= require_self
 */



body{
  margin: 0;
  background-image: image-url("daisakusen.jpg");
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-color: #a8a8a8;
  margin: 0;
}


h1{
  margin: 0;
}

.title{
  color: #ffffff;
  font-size: 50px;
}

.yoko {
  width: 100%;
  display: flex;
  background-color:#000000;
}

dt li {
  width: 33.333%;
  float: left;
  list-style: none;
  font-size: 25px;
  text-align: center;
}

.bunki{
    border-right: 1px solid #DDD;
}

.home{
  float: right;
  margin-right:  10px;
  text-decoration: none;
}

li{
   list-style: none;
}

 .kasi_body{
   background-color: #ffffff;
   background-image: url();
      margin: 0;
 }
 .active{
   background-color: #c2c2c2;
 }
 .marge{
   margin: 20px;
 }
//--------------------top-------------------//

.right{
  float: right;
  margin-right: 30px;
}

.top_title{
  font-size: 80px;
  color: #000000;
}
//-------------楽曲一覧---------------------//
table {
	border-collapse: collapse;
  background-color: #ffffff;
}

td {
	border: solid 1px;
	padding: 0.5em;
}

h2{
  font-size: 40px;
  margin: 0;
}

//-----------------Artist page-------------//
.dai{
  font-size: 50px;
     margin: 0;
}

.border{
width: 300px;
border:#d0d0d0  ridge 5px;
background-color: #ffffff;
}

.left{
  float: left;
  margin: 10px;
}

.twitter{
  width: 1550px;
}
.back{
  background-color: #ffffff;
}
